@import "tailwindcss";

:root {
    --background: #fcfcfc;
    --foreground: #171717;
    --secondary: #f8f4f4;
    --primary: #302c2c;
}

@theme inline {
    --background: var(--background);
    --foreground: var(--foreground);
    --color-accent-secondary: var(--secondary);
    --color-accent-primary: var(--primary);
}

body {
    background: var(--background);
    color: var(--foreground);
}
